body {
    margin-bottom: 60px; /* フッターの高さに応じて調整 */
}
/* CSSファイル（例：footbody.css）に追加 */
body, html {
    height: 100%; /* 画面の高さに合わせる */
    margin: 0;
    padding: 0;
}


.footer-custom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* メディアクエリで画面サイズに応じたスタイリング */
@media (max-width: 768px) {
    /* スマートフォン等の小さい画面用のスタイル */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* タブレット等の中間サイズの画面用のスタイル */
}

@media (min-width: 1025px) {
    /* デスクトップ等の大きい画面用のスタイル */
}
