.footer-custom {
    background-color: #004a86;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-custom .btn-outline-light {
    border-color: white; /* ボタンの境界線色 */
    color: white; /* ボタンのテキスト色 */
}

.footer-custom .btn-outline-light:hover {
    background-color: white; /* ホバー時の背景色 */
    color: #004a86; /* ホバー時のテキスト色 */
}
